* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 1rem;
  font-family: 'Montserrat', sans-serif;
}
.limit{
  background: #FFFFFF;
  width:30vw;
  margin-left:3.75rem;
  margin-top:2rem;
  border-radius: 3rem;
  padding: 3rem;
  height: 30vh;
  
}
.solds{
  margin-top: 4rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.titulo-card{
  display: flex;
  flex-direction: row;
  align-items: center;
}
.titulo-card p{
  margin-left: 2rem;
}
.credit{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  
}
.progress{
  display: flex;
  margin-top: 4rem;
  width: 100vh;

}
.progress progress{
  width: 40vh;
  color: #820AD1;
}

.container {
  position: relative;
  width: 100vw; 

}
.contents{
  display: flex;
  flex-direction: row;
}

a {
  text-decoration: none;
}

body {
  margin: 0;
  padding: 0;
  background: #f4f4f4;
}


.menu{
  flex-direction: column;
  background: #FFFFFF;
  display: flex;
  width: 20vw;
  margin-top: 3vh;

}
.menu-item{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-left: 3vh;
  margin-top: 2vh;
  color: #323232;

}

.top {
  
  display: flex;
  height: 10vh;
  width: 100vw;
  flex-direction: row;
  background: #f4f4f4;
  padding: .625rem;
  align-items: center;
  justify-content: space-between;
}

.icon {
  height: 3rem;
  margin-left: 1.875rem;
  transition: transform 0.5s ease;
}

.icon:hover {
  transform: scale(1.2);
  filter: drop-shadow(0 4px 8px rgba(0, 0, 0, 0.2));
}

.logout {
  margin-right: 1.875rem;
  height: 3rem;
  background: #c1c1c8;
  border-radius: .5rem;
  text-decoration: none;
  display: flex;
  align-items: center;
  transition: transform 0.5s ease;
}

.logout:hover {
  transform: scale(1.1);
  filter: drop-shadow(0 4px 8px rgba(0, 0, 0, 0.2));
}

.logout p {
  font-size: 1.875rem;
  text-decoration: none;
  margin-left: 1.875rem;
  margin-right: 1.875rem;
  text-align: center;
  display: flex;
  align-items: center;
}

.user {
  
  display: flex;
  background: #820AD1;
  height: 10rem;
  width: 100vw;
  top: 10vh;
  flex-direction: row;
  align-items: center;
}

.user-data {
  margin-left: 1.875rem;
  height: 5rem;
  width: 20rem;
  align-items: center;
  color: #f4f4f4;
  transition: transform 0.5s ease;
}

.user-data:hover {
  transform: scale(1.1);
  filter: drop-shadow(0 4px 8px rgba(0, 0, 0, 0.2));
}

.eye {
  margin-top: .9375rem;
  margin-bottom: .9375rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 15rem;
  font-style: bold;
  transition: transform 0.5s ease;
}

.eye i:hover {
  color: rgb(108, 96, 96);
}

.info {
  background: #FFFFFF;
  height: 7rem;
  width: 20rem;
  margin: .625rem;
  border-radius: .625rem;
  justify-content: center;
  text-align: center;
  display: flex;
  align-items: center;
  opacity: 0.9;
  transition: transform 0.5s ease;
}

.info:hover {
  transform: scale(1.1);
  filter: drop-shadow(0 4px 8px rgba(0, 0, 0, 0.2));
}

.tips {
  
  display: flex;
  background: #FFFFFF;
  height: 10rem;
  width: 100vw;
  top: -16vh;
  align-items: center;
  flex-wrap: wrap;
  overflow-x: auto; /* Habilita a rolagem horizontal */
  white-space: nowrap; /* Impede que as divs se quebrem para baixo */
}

.tips-chip {
  margin-left: 1.875rem;
  width: 7rem;
  height: 7rem;
  background: #E8E8F0;
  border-radius: .5rem;
  text-decoration: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: transform 0.5s ease;
  justify-content: center;
}

.tips-chip p{
  margin-top: .625rem;
}
.tips-chip:hover{
  transform: scale(1.2);
}

.circle {
  background: #E8E8F0;
  width: 3rem;
  height: 3rem;
  border-radius: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #820AD1;
  text-align: center;
}

